<h1>Listing line_eats</h1>

<table>
  <tr>
    <th>Day</th>
    <th>Food</th>
    <th>Count</th>
    <th>Time</th>
  </tr>

<% @line_eats.each do |line_eat| %>
  <tr>
    <td><%=h line_eat.day_id %></td>
    <td><%=h line_eat.food_id %></td>
    <td><%=h line_eat.count %></td>
    <td><%=h line_eat.time %></td>
    <td><%= link_to 'Show', line_eat %></td>
    <td><%= link_to 'Edit', edit_line_eat_path(line_eat) %></td>
    <td><%= link_to 'Destroy', line_eat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New line_eat', new_line_eat_path %>