<h1>Editing day</h1>

<% form_for(@day) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :week_id %><br />
    <%= f.text_field :week_id %>
  </p>
  <p>
    <%= f.label :day %><br />
    <%= f.date_select :day %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @day %> |
<%= link_to 'Back', days_path %>